body {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

.App {
  height: auto;
  width: all;
}

.tma-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: all;
  height: 100px;
  padding: 20px;
  background: #3e4bff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tma-logo {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.tma-icon-dropdown {
  font-size: 1.5rem;
  color: white;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.dropdown-item span {
  margin-left: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, .7);
}

.dropdown-item i {
  font-size: 1rem;
  color: #3e4bff;
}

.tma-create-todo {
  position: absolute;
  bottom: -40px;
  background: white;
  padding: 10px;
  width: 60%;
  min-height: 40px;
  height: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4;
}

.tma-create-todo span {
  font-size: 12px;
  color: rgba(0, 0, 0, .6);
  font-weight: 600;
}

.tma-create-todo div {
  width: all;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tma-create-todo input {
  border: 1px solid #aaa;
  border-radius: 5px;
  width: calc(100% - 90px);
  padding: 5px 10px;
}

.tma-create-todo input:focus {
  outline: none;
}

.tma-create-todo button {
  width: 80px;
  font-size: 12px;
  font-weight: bold;
  background: #3e4bff;
  color: white;
}

.tma-create-todo button:hover {
  color: white;
}

/* section des todos */
.tma-todos-section {
  padding-top: 160px;
  width: all;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;

}

.tma-todos-section > div,
.tma-todos-section-search > div {
  width: 60%;
  height: auto;
  /*max-height: 100%;*/
  border: 1px solid #aaa;
  border-radius: 5px;
  /*padding: 10px;*/
}

.tma-todos-section-search > div {
  width: 100%;
}

.tma-edit-todo {
  width: all;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

.tma-edit-todo span {
  font-size: 12px;
}

.tma-edit-todo input {
  width: calc(100% - 130px);
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 5px 10px;
  font-size: 12px;
}

.tma-edit-todo input:focus {
  outline: none;
}

.tma-edit-todo button.tma-btn-edit {
  font-size: 12px;
  width: 80px;
  color: #3e4bff;
  border: 2px solid #3e4bff;
  border-radius: 5px;
  font-weight: 700;
  z-index: 0;
}

.tma-btn-disable {
  opacity: .3
}

.tma-btn-disable:hover {
  cursor: inherit;
}

.tma-todos-list {
  width: all;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.tma-todos-list-search {
  width: 100%;
}

.tma-todo {
  width: all;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.tma-todo:not(:last-child) {
  border-bottom: 1px solid #aaa;
}

.tma-todo-marked {
  position: relative;
  color: #aaa !important;
  text-decoration: line-through;
}

.tma-todo-info {
  width: calc(100% - 60px);
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tma-todo-info input[type="checkbox"] {
  margin-right: 10px;
}

.tma-todo-info span {
  font-size: 14px;
  color: rgba(0, 0, 0, .8);
  line-height: 20px;
}

.tma-todo-icons {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tma-todo-icons i {
  font-size: 1.2rem;
  color: #3e4bff;
}

.tma-todo-icons i:hover {
  cursor: pointer;
}

/* search section */
.tma-research {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tma-research input {
  width: calc(100% - 90px);
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-size: 14px;
}

.tma-research input:focus {
  outline: none;
}

.tma-research button.btn-research {
  width: 80px;
  background: #3e4bff;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

/* modal info */
.tma-info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tma-info div.tma-info-top {
  width: all;
  height: auto;
  display: flex;
  flex-direction: column;
}

.tma-info div.tma-info-top h3 {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, .7);
}

.tma-info div.tma-info-top span {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, .7);
}

.tma-info > span {
  margin-top: 25px;
  font-size: 12px;
  color: rgba(0, 0, 0, .7);
  font-weight: 600;
}

/* section statistique */
.tma-stats {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tma-stats span {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  .tma-create-todo {
    width: 100%;
  }

  .tma-todos-section > div {
    width: calc(100% - 20px);
  }
}
